body
{
    color:              black;
    background-color:   #f8f9fa;
}


iframe
{
    height: 100%;
    width: 100%;
}

img
{
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
    align: center;
    vertical-align: center;

}

p
{
	font-size: 12px;
}

h1
{
	text-align: center;
}

h1 span
{
	background-color: aliceblue;
}

h2
{
	text-align: center;
}

h2 span
{
	background-color: aliceblue;
}


.frame_logo 
{
	display: block;
    margin: 0 auto;
    margin-bottom: 10px;
	/*width: 100px;*/
	height: 60px;
}


.bg-text_lite {
    background-color: #efefef;
    overflow: hidden;
    padding: 1px 1px 1px 1px;
    position: center;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.bg-text {
    background-color: #efefef;
    overflow: hidden;
    padding: 1px 1px 1px 1px;
    position: center;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.chip_color
{
    display: inline-block;
    height: 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    padding: 10px;
    border-radius: 16px;
    margin-bottom: 0px;
    margin-right: 0px;

    position: center;
}

.white-text
{
    color: #FFFFFF !important;
}

.black-text
{
    font-size: 12px;
    text-align: left;
    margin-left: 15px;
}

a
{
    font-size: 12px;
}
